.Header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.HeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderContent h1,
.HeaderContent p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

nav ul li button:focus {
    outline: none;
}