/* Contact.css */

.Contact {
    padding: 20px;
    max-width: 800px;
    /* Adjust width as needed */
    margin: auto;
}

.Contact h2 {
    margin: 20px 0;
}

.ContactDetails {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    /* Space between each contact item */
}

.icon {
    width: 30px;
    /* Adjust icon size as needed */
    margin-right: 10px;
    /* Space between icon and contact info */
}

.contact-info {
    color: #333;
    /* Adjust text color as needed */
    text-decoration: none;
}

.contact-info:hover {
    text-decoration: underline;
    /* Underline contact info on hover */
}