/* Projects.css */

.ProjectList {
    display: block;
    /* Change display to block */
    text-align: center;
    /* Center the projects */
}

.Project {
    border: 1px solid #ddd;
    margin: 10px auto;
    /* Center the projects horizontally */
    width: 300px;
    /* Set the width of each project */
}

.ProjectHeader {
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
}

.ProjectHeader:hover {
    background-color: #e0e0e0;
}

.ProjectDetails {
    padding: 10px;
    display: none;
    /* Hide project details by default */
}

.ProjectDetails p {
    margin-bottom: 10px;
}

.ProjectDetails a {
    color: blue;
    text-decoration: underline;
}

.ProjectDetails a:hover {
    text-decoration: none;
}

/* Show project details when the project is expanded */
.Project.expanded .ProjectDetails {
    display: block;
}